<h1>Game#score</h1>
<ul>
  <li>score: <%= @results[0]%></li>
  <li>attempt: <%= @attempt %></li>
  <li>time: <%= @time_taken %></li>
  <li>message: <%=@results[1]%></li>
</ul>

<%= link_to "Play again!", "new" %>

